@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {margin:0; padding:0; }
body { font-family: 'Amatic SC', 'sans serif'; font-size: 3vh; background: #B42B51; }
a {text-decoration: none;}

.container{max-width: 790px; margin: 0 auto; padding:0 20px;}


.header { border-bottom: .5px #420516 solid;}
.header .header-wrap {display: flex; justify-content: space-between; align-items: center; padding: 5px 0;}
.header__greeting {cursor: pointer; color: #420516;}
.header__nav-bar {font-size: 5vh; }
.nav-bar--item { margin-left: 2vw; padding: 0 0.5vw; }
.header a {color: #420516;}
.header a:hover, a:active  { color: #420516; background-color: #E63E6D; }

#section-1 {display: flex; margin-top: 5vh; padding: 10px 0 10px 0;}
#section-1 .image{max-width: 125px; margin-right:10px;}
#section-1 img {width: 100%; height: auto;}
#section-1 article {height: fit-content; padding:5px; background: #E63E6D;}

@media only screen and (max-width: 599px) {
    .header .header-wrap {flex-direction: column;}
    .header__nav-bar {font-size: 3vh;}
    .nav-bar--item {margin: 0; padding:0;}

    /* #section-1 {flex-direction: column; align-items: center;} */
    #section-1 .image {display: none;}
}