@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  font-family: 'Amatic SC', 'sans serif';
  font-size: 3vh;
  background: #ffdcef;
  
}

a {
  text-decoration: none;
}

#header {
  /* border: 2px rgb(250, 77, 77) solid; */
  padding: 1vh 1vw 1vh 1vw;
  margin: 0 1vw 0 1vw;
}

#header__greeting {
  display: inline;
}

#header__nav-bar {
  display: inline;
  margin-left: 3vw;
  font-size: 5vh;
}

.nav-bar--item {
  margin-left: 2vw;
}