@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  font-family: 'Amatic SC', 'sans serif';
  font-size: 3vh;
  background: #ffdcef; 
}

a {
  text-decoration: none;
}