@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: "Amatic SC", "sans serif";
  font-size: 3vh;
  background: #ffdcef;
}

a {
  display: block;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(73, 70, 70);
  background-color: white;
  text-decoration: none;
}
a:active {
  color: rgb(73, 70, 70);
  background-color: white;
  text-decoration: none;
}

#home-link {
  background: #fae1c9;
  padding: 0.2vh 0.5vw;
  border: 1px solid black;
  text-align: center;
}
