@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {padding:0; margin:0;}
body { font-family: "Amatic SC", "sans serif"; font-size: 3vh; background: #B42B51; }

ul, ol {list-style: none;}
a { display: block;  text-decoration: none;}

.main {padding:10px;}

#home-link {background: #E63E6D; margin: 0 0 10px 0; padding: 0.2vh 0.5vw; border: 1px solid #420516; text-align: center;}

.contact { max-width: fit-content; padding: 5px}
.contact:hover, .contact:active  { background-color: #E63E6D; }
.contact  a {color: #420516;}