---
layout: layouts/base.njk
title: Blog
---

<section>
  <h2>All Blog Posts</h2>
  <ul>
    {% for blog in collections.blogs %}
      <li>
        <a href="{{ blog.url }}">{{ blog.data.title }}</a>
        <span class="log-date">{{ blog.date | readableDate }}</span>
      </li>
    {% endfor %}
  </ul>
</section>